<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/ticket/save}" method="post" th:object="${ticket}">

    <input type="hidden" th:field="*{movieTimes}" >
    <input name="idMovieTimes" th:value="${movieTimes.get().id}" type="hidden">

    <span>Ngày chiếu</span>
    <br>

    <span>Tên phim</span>
    <span th:text="${movie.get().nameMovie}"></span>

    <br>

    <span>Rạp phim</span>
    <span th:text="${theater.get().nameTheater}"></span>
    <br>

    <span>Giá vé</span>
    <span th:text="${movieTimes.get().totalMoney}"></span>
    <br>

    <span>Phòng</span>
    <span th:text="${room.get().roomName}"></span>
    <br>

    <input type="submit" value="Đồng ý">
</form>
</body>
</html>
